@model WebProgramlama_Proje.Models.User

@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.EntityFrameworkCore;
@using WebProgramlama_Proje.Data;

@{
    Layout = null;
}

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h3> @Localizer["Sure"]</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                <p class="TableHeader"> @Localizer["UserName"]</p>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.userName)
            </dd>
            <dt class="col-sm-2">
                <p class="TableHeader"> @Localizer["Password"]</p>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.userPass)
            </dd>
            <dt class="col-sm-2">
                <p class="TableHeader"> @Localizer["MailAddress"]</p>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.userMail)
            </dd>
            <dt class="col-sm-2">
                <p class="TableHeader"> @Localizer["Wallet"]</p>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.userWallet)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="userID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <input type="submit" asp-action="AdminPanel" class="btn btn-primary " value="Back to List" />
        </form>
    </div>
</body>
</html>
