@model IEnumerable<WebProgramlama_Proje.Models.User>

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.userPass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.userMail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.userWallet)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.userName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userPass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userMail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userWallet)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.userID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.userID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.userID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
