
@model WebProgramlama_Proje.Models.ViewModel
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.EntityFrameworkCore;
@using WebProgramlama_Proje.Data;

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    ViewData["Title"] = "Store";
    string musluk = "./images/placeholder.jpg";
}


<!DOCTYPE html>
<html>

<head>
    <link href="@Url.Content("~/css/StoreIndex.css")" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h3> @Localizer["Discover"]</h3>
    <br /><br />
    <div class="center SlideShowDiv">

        <div class="mySlides">
            <img class="center" src="~/images/efsunger_vahsi_av.png">
            <figcaption>Efsunger 3: Vahşi Av</figcaption>
        </div>

        <div class="mySlides" style="display:none">
            <img class="center" src="~/images/parlak_ruhlar.png">
            <figcaption>Parlak Ruhlar</figcaption>
        </div>

        <div class="mySlides" style="display:none">
            <img class="center" src="~/images/eski_tomarlar.png">
            <figcaption>Eski Tomarlar 5: Sıkayrum</figcaption>
        </div>

        <div class="mySlides" style="display:none">
            <img class="center" src="~/images/kader_karanligin_yukselisi.png">
            <figcaption>Kader: Karanlığın Yükselişi</figcaption>
        </div>

        <div class="row DisplayDiv">

            <div class="slideColumn">
                <img class="demo opacity hover-opacity-off DisplayImage" src="~/images/efsunger_vahsi_av.png" onclick="currentDiv(1)">
            </div>

            <div class="slideColumn">
                <img class="demo opacity hover-opacity-off DisplayImage" src="~/images/parlak_ruhlar.png" onclick="currentDiv(2)">
            </div>

            <div class="slideColumn">
                <img class="demo opacity hover-opacity-off DisplayImage" src="~/images/eski_tomarlar.png" onclick="currentDiv(3)">
            </div>

            <div class="slideColumn">
                <img class="demo opacity hover-opacity-off DisplayImage" src="~/images/kader_karanligin_yukselisi.png" onclick="currentDiv(4)">
            </div>

        </div>
    </div>

    <br /><br />
    <h3> @Localizer["Browse"]</h3>
    <br />

    <div class="row TableDiv">
        <table class="TableSelf ">
            <tr>
                <th class=" TableHeader">
                    @Html.ActionLink("Çıkış Tarihi", "Index", new { sortOrder = ViewBag.DateSortParm })
                </th>

                <th class=" TableHeader">
                    @Html.ActionLink("Çok Satanlar", "Index", new { sortOrder = ViewBag.SoldSortParm })
                </th>

                <th class=" TableHeader">
                    @Html.ActionLink("Fiyat", "Index", new { sortOrder = ViewBag.PriceSortParm })

                </th>
            </tr>
        </table>

        <br />

        <table class="TableSelf">
            @foreach (var item in Model.Games)
            {
                <tr>
                    <td>
                        <img src=@item.gameIMG class=" TableImage" />
                    </td>

                    <td class=" TableText">
                        <a class="nav-link" asp-area="" asp-controller="Game" asp-action=@item.gameURL>@item.gameName </a>
                    </td>

                    <td class=" TableText">
                        @item.gamePrice TL
                    </td>
                </tr>
            }
        </table>
    </div>

    <script>
        function currentDiv(n) {
            showDivs(slideIndex = n);
        }
        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" opacity-off", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " opacity-off";
        }
    </script>

</body>
</html>