@model WebProgramlama_Proje.Models.ViewModel

@{
    ViewData["Title"] = "Oyun adı";
}
<!DOCTYPE html>
<html>

<head>
    <link href="@Url.Content("~/css/Game.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    @foreach (var item in Model.Games)
    {
        <h2>@item.gameName</h2>

        <br />

        <div class="row">
            <div class="columnVid">
                <iframe width="740" height="540"
                        src="https://www.youtube.com/embed/JSRtYpNRoN0">
                </iframe>
            </div>
            <div class="columnDesc">
                <img src=@item.gameIMG class="descImage" />
                <br /><br /><br />
                <p class="description"> @item.gameDesc</p>
            </div>
        </div>

        <br /><br /><br />

        <div class="row">
            <div class="PurchaseDiv">
                <p class="PurchaseText"> Bu oyunu hemen satın alarak kütüphanene ekle</p>
            </div>
            <div class="PurchaseButton">
                <button class="GreenButton">
                    @item.gamePrice TL
                </button>
            </div>
        </div>
    }
    <br /><br />
    <h4>MÜŞTERİ İNCELEMELERİ</h4>
    <br />
    @foreach (var item in Model.Comments)
    {

        User kullanici = new User();
        @foreach (var kul in Model.Users)
        {
            if (kul.userID == item.userID)
            {
                kullanici = kul;
                break;
            }
        }

        <div class="comment">
            <img src="~/images/bir.png" class="UserImage">
            <p>
                <span>@kullanici.userName</span>
                @if (item.commentIsRecommend == 1)
                {
                    <span class="fa fa-thumbs-up" style="color:green"></span>
                }
                else
                {
                    <span class="fa fa-thumbs-down" style="color:red"></span>
                }
            </p>
            <p>@item.commentDesc</p>
        </div>
    }
</body>
</html>