@model IEnumerable<WebProgramlama_Proje.Models.Game>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.gameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gamePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gameGenre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gameRD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gameSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gameDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gameURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gameIMG)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.gameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gamePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gameGenre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gameRD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gameSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gameDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gameURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gameIMG)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.gameID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.gameID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.gameID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
